#titolo {

    text-align: center;
    margin-bottom: 100px;

}

#parteRegistrazione {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px; /* Spazio tra gli elementi */

}

div{
    text-align: center;
}

  

