<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>Artigianato Online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <link href="./css/style.css" rel="stylesheet">

    </head>

    <body>

        <div id="titolo">
            
            <h1>Artigianato Online</h1>

        </div>

        <div id="parteRegistrazione">

            <p>Registrati come</p>
            <button onclick="window.location.href = '/registraArtigiano'" id="artigiano">Artigiano</button>
            <button onclick="window.location.href = '/registraCliente'" id="cliente">Cliente</button>

        </div>

        <div>
            <p>Sei già registrato?</p>
            <a href = "/login">Accedi</a>
        </div>

        <button onclick="window.location.href = '/homeCliente'">goToHomeC</button>
        
    </body>