<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styleRegistraC.css">

    <script src="./js/registrazioneUtente.js"></script>

    <title>Registrazione Cliente</title>

</head>
<body>
    <header>
        <nav>
            <h1>Registrazione Cliente</h1>
        </nav>
    </header>  
    <br><br>

    <form id="registrationForm">
        <label for="nome">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <!-- Metodo di pagamento-->
        <button type="submit" onclick="registraUtente('cliente')">Registrati</button><br><br>
        <button onclick="window.location.href = '/index'" id="indietro">Indietro</button>
    </form>

</html>