body{
    background-color: #F4EBD0;
}


#titolo {

    text-align: center;
    margin-bottom: 100px;
    color: #3E4C59;

}

#parteRegistrazione {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px; /* Spazio tra gli elementi */

}

div{
    text-align: center;
}

button{
    background-color: #D97B54;
    color: #3E4C59;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

  

