<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        
        <link href="../public/css/account.css" rel="stylesheet">

        <script type="module" src="../public/js/account.js"></script>

    </head>

    <body>
        <header>
            <nav>
                <h2>Account</h2>
            </nav>
        </header>
        <main>
            <section id="account-info">
                <h3>Informazioni Account</h3>
                <p>
                    <strong>Username:</strong>
                    <span id="usernameSpan" contenteditable="false">Caricamento...</span>
                    <input type="text" id="usernameInput" hidden required>
                    <button class="bottone" id="modificaUsername" onclick="modificaCampo('username')">Modifica Username</button>
                    <button class="bottone" id="confermaModificaUsername" onclick="modifica('username')" hidden>Conferma modifiche</button>
                </p> 
                <p>
                    <strong>Email:</strong> 
                    <span id="mailSpan" contenteditable="false">Caricamento...</span>
                    <input type="email" id="mailInput" hidden required>
                    <button class="bottone" id="modificaMail" onclick="modificaCampo('mail')">Modifica Mail</button> 
                    <button class="bottone" id="confermaModificaMail" onclick="modifica('mail')" hidden>Conferma modifiche</button>
                </p> 
                <p>
                    <strong>Password:</strong>
                    <button class="bottone" id="modificaPassword" onclick="window.location.href = './cambioPassword.html'">Modifica Password</button>
                </p>
                <p>
                    <strong>Metodo di pagamento:</strong>
                    <button class="bottone" id="modificaPagamento" onclick="window.location.href = './cambioMetodoPagamento.html'">Modifica metodo di pagamento</button>
                </p>
                
                <div id="pulsanteIndietro">
                    <button class="indietro" onclick="vaiIndietro()">Indietro</button>
                </div>
                <br>
                <div id="logout">
                    <button class="indietro" id="logout" onclick="window.location.href = '/index'">Logout</button>
                </div>


            </section>
        </main>
    </body>

</html>