<!DOCTYPE html>
<html>

    <head>

        <title>Artigianato Online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
         <link href="../public/css/admin.css" rel="stylesheet">
         <script type="module"src="../public/js/admin.js"></script>
        
    </head>

    <body>
        <header>
            <nav>
                <h2>Admin</h2>
            </nav>
        </header>
        <main>
            <div class="conteiner"></div>

                <div id="contenutoUtente">

                    <h3>Elenco Utenti ( <span id="numeroUtenti"> 0 </span> )</h3>
                    
                        <table id="elencoUtentiTable">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Tipo Utente</th>
                                </tr>
                            </thead>
                            <tbody id="elencoUtentiBody">
                                <tr>
                                    <td>56</td>
                                    <td>Rossi</td>
                                    <td>Mario</td>
                                </tr>
                                <tr>
                                    <td>56</td>
                                    <td>Rossi</td>
                                    <td>Paolo</td>
                                </tr>
                                <tr>
                                    <td>56</td>
                                    <td>Rossi</td>
                                    <td>Lucilla</td>
                                </tr>
                            </tbody>
                        </table>
                        
                </div> 

                <br>
                
                <div>

                    <h3>Elenco Ordini ( <span id="numeroOrdini"> 0 </span> ) </h3>
                    
                        <table id="elencoOrdiniTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email del Cliente</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
                            <tbody id="elencoOrdiniBody">
                                <tr>
                                    <td>56</td>
                                    <td>Rossi</td>
                                    <td>Mario</td>
                                </tr>
                                <tr>
                                    <td>56</td>
                                    <td>Rossi</td>
                                    <td>Paolo</td>
                                </tr>
                                <tr>
                                    <td>56</td>
                                    <td>Rossi</td>
                                    <td>Lucilla</td>
                                </tr>
                            </tbody>
                        </table>


                </div>

                <div>

                    <h3>Elenco Segnalazioni ( <span id="numeroSegnalazioni"> 0 </span> ) </h3>
                    
                        <table id="elencoSegnalazioniTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Testo</th>
                                    <th>Tipo utente</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
                            <tbody id="elencoSegnalazioniBody">
                                <tr>
                                    <td>56</td>
                                    <td>Rossi</td>
                                    <td>Mario</td>
                                    <td>Rossi</td>
                                    <td>Mario</td>
                                </tr>
                                <tr>
                                    <td>56</td>
                                    <td>Rossi</td>
                                    <td>Paolo</td>
                                    <td>Rossi</td>
                                    <td>Mario</td>
                                </tr>
                                <tr>
                                    <td>56</td>
                                    <td>Rossi</td>
                                    <td>Lucilla</td>
                                    <td>Rossi</td>
                                    <td>Mario</td>
                                </tr>
                            </tbody>
                        </table>


                </div>
            </div>

            
         </main>
         

            
         


    </body>

    
</html>