<!DOCTYPE html>
<html>

    <head>

        <title>Artigianato Online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
         <link href="../public/css/admin.css" rel="stylesheet">
         <script src="../public/js/admin.js"></script>
        
    </head>

    <body>
        <header>
            <nav>
                <h2>Admin</h2>
            </nav>
        </header>
        <main>
            <div class="conteiner">
                
            <section class="card">
                <h2>Gestione Utenti</h2>
                <p>dettagli</p>
                <button onclick="apriSidebar('gestioneUtenti')">Visualizza </button>
            </section>


            <section class="card">
                <h2>Gestione Prodotti</h2>
                <p>dettagli</p>
                <button onclick="apriSidebar('gestioneProdotti')">Controlla Stato</button>
            </section>
            </div>

            <aside class="gestioneUtenti" id="gestioneUtenti">
                <button id="chiudiSidebar" onclick="chiudiSidebar()">×</button>
                <div id="contenutoUtente">
            <table id="utenteTable">
                <thead>
                    <tr>
                        <th>Tipo Utente</th>
                        <th>Mail</th>
                    </tr>
                </thead>
                <tbody id="utenteBody">
                    <tr>
                        <td>Artigiano</td>
                        <td>pippo@gmail.com</td>  
                    </tr>
                    <tr>
                        <td>Cliente</td>
                        <td>topolino@gmail.com</td>  
                    </tr>
                </tbody>
            </table>
            </div>
            </aside>
            
            <aside class="gestioneProdotti" id="gestioneProdotti">
                <button id="chiudiSidebar" onclick="chiudiSidebar()">×</button>
                <div id="contenutoProdotto">
            <table id="prodottoTable">
                <thead>
                    <tr>
                        <th>Tipologia</th>
                        <th>Nome</th>
                        <th>Quantità</th>
                        <th>Prezzo</th>
                    </tr>
                </thead>
                <tbody id="prodottoBody">
                    <tr>
                        <td>Gioiello</td>
                        <td>Collana</td>
                        <td>34</td>
                        <td>45</td>   
                    </tr>
                    <tr>
                        <td>Gioiello</td>
                        <td>Orecchhini</td>
                        <td>34</td>
                        <td>45</td> 
                    </tr>
                </tbody>
            </table>
            </div>
            </aside>

            
         </main>
         

            
         


    </body>

    
</html>