<!DOCTYPE html>
<html>

    <head>

        <title>Artigianato Online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
         <link href="../public/css/admin.css" rel="stylesheet">
         <script src="../public/js/admin.js"></script>
        
    </head>

    <body>
        <header>
            <nav>
                <h2>Admin</h2>
            </nav>
        </header>
        <main>
            <div class="conteiner">
                
            <section class="card">
                <h2>Attività Utenti</h2>
                <p>dettagli</p>
                <button>Visualizza </button>
            </section>

            <section class="card">
                <h2>Segnalazioni</h2>
                <p>dettagli</p>
                <button> Pannello Segnalazioni</button>
            </section>

            <section class="card">
                <h2>Stato del Sistema</h2>
                <p>dettagli</p>
                <button>Controlla Stato</button>
            </section>
            </div>

            <aside id="sidebar">
                <button id="chiudiSidebar" onclick="chiudiSidebar()">×</button>
                <div id="contenutoSidebar">
                    bla bla
                </div>
            </aside>
         </main>
    </body>

    
</html>