<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/css/styleRegistraC.css">

    <script src="../public/js/cambioPassword.js"></script>

    <title>Cambio Password</title>

</head>
<body>
    <header>
        <nav>
            <h1>Cambio Password</h1>
        </nav>
    </header>  
    <br><br>

    <main>
        <p>Nuova password</p>
        <input type="password" id="nuovaPassword" name="nuovaPassword" required><br><br>

        <p>Conferma nuova password</p>
        <input type="password" id="confermaNuovaPassword" name="confermaNuovaPassword" required> <br><br>

        <p>
            DOMANDA DI SICUREZZA
        </p><span id="domandaSicurezza">Domanda...</span> <br><br>
        <input type="text" id="rispostaSicurezza" name="domandaSicurezza" required><br><br>

        <button class="bottone" type="button" onclick="cambiaPassword('password')">Cambia password</button><br><br>

    </main>

</html>