<!DOCTYPE html>
<html>

    <head>

        <title>Artigianato Online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <script src="../public/js/filtri.js"></script>

    </head>

    <body>

        <div id="titolo">
            
            <h1>Ricerca con filtri</h1>

        </div>

        <div id="campoRicercaInput">

            <input type="text" placeholder="Cerca..." id="campoRicerca">

        </div>

        <div id="filtri">

            <input type="checkbox" id="prezzoMaxCheck" name="prezzoMax" value="prezzoMax">
            <label for="prezzoMax">Prezzo massimo:</label>
            <input name="prezzo" type="number" id="prezzoProdottoInput" step="0.01"> <br>

            <input type="checkbox" id="produttoreCheck" name="produttore" value="produttore">
            <label for="produttore">Produttore:</label>

            <select name="produttore" id="produttore" class="prova"></select> <br>

            <input type="checkbox" id="tipologiaCheck" name="tipologia" value="tipologia">
            <label for="tipologia">Tipologia:</label>
            <select name="tipologia" id="tipologia">

                    <option>Gioielli artigianali</option>
                    <option>Ceramica e porcellana</option>
                    <option>Tessili</option>
                    <option>Legno lavorato</option>
                    <option>Carta e cartoleria</option>
                    <option>Prodotti naturali</option>
                    <option>Arte e decorazioni</option>
                    <option>Strumenti musicali</option>
                    <option>Oggetti in metallo</option>
                    <option>Altro</option>

                </select>

        </div>

        <div id="bottoneRicercaDiv">

            <button id="bottoneRicerca" onclick="effettuaRicerca()">Ricerca</button>

        </div>

    </body>

</html>