<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Artigianato Online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <link href="../public/css/styleHomeC.css" rel="stylesheet">
        <script type="module" src="../public/js/homeA.js"></script>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li class="search-container">
                        <button class="search-toggle">Ricerca</button>
                        <input type="text" class="search-input" placeholder="Cerca..." id="campoRicerca">
                        <button onclick="window.location.href = '/views/filtri.html'">Filtri</button>
                    </li>
                      
                    <li class="right">
                        <a href="#carrello" id="carrello">
                            <img src="../public/images/carrello1.png" alt="Carrello" width="30" height="30" onclick="window.location.href = '/views/carrello.html'">
                        </a>
                        <a href="#utente" id="utente">
                            <img src="../public/images/utente1.png" alt="Utente" width="30" height="30" onclick="window.location.href = '/views/account.html'">
                        </a>
                    </li>
                </ul>
            </nav>
        </header>  

        <main>
        <section id="catalogo" class="grid-section"> <!-- Foto e data-desciption da sistemare -->
        <h2>Catalogo</h2>
        <!-- Prima riga di card -->
        <div class="row">
            <div class="card" >
                <img src="../public/images/Prodotto.jpg" alt="Prodotto 1">
                <h3>Prodotto 1</h3>
                <p>Descrizione Prodotto </p>
                <button class="aggiungi" data-nome="Prodotto 1">Aggiungi al carrello</button>
            </div>
    
            <div class="card" >
                <img src="../public/images/Prodotto.jpg" alt="Prodotto 2">
                <h3>Prodotto 2</h3>
                <p>Descrizione Prodotto </p>
                <button class="aggiungi" data-nome="Prodotto 2">Aggiungi al carrello</button>
            </div>
            <div class="card" >
                <img src="../public/images/Prodotto.jpg" alt="Prodotto 3">
                <h3>Prodotto 3</h3>
                <p>Descrizione Prodotto </p>
                <button class="aggiungi" data-nome="Prodotto 3">Aggiungi al carrello</button>
            </div>
        </div>
            <!-- Seconda riga di card -->
            <div class="row">
                <div class="card" >
                    <img src="../public/images/Prodotto.jpg" alt="Prodotto 4">
                    <h3>Prodotto 4</h3>
                    <p>Descrizione Prodotto </p>
                    <button class="aggiungi" data-nome="Prodotto 4">Aggiungi al carrello</button>
                </div>
                <div class="card" >
                    <img src="../public/images/Prodotto.jpg" alt="Prodotto 5">
                    <h3>Prodotto 5</h3>
                    <p>Descrizione Prodotto </p>
                    <button class="aggiungi"data-nome="Prodotto 5">Aggiungi al carrello</button>
                </div>
                <div class="card" >
                    <img src="../public/images/Prodotto.jpg" alt="Prodotto 6">
                    <h3>Prodotto 6</h3>
                    <p>Descrizione Prodotto </p>
                    <button class="aggiungi" data-nome="Prodotto 6">Aggiungi al carrello</button>
                </div>
            </div>
        </section>    
        </main>

        <footer>
            <p>&copy; 2023 Artigiano Online. Tutti i diritti riservati.</p>
        </footer>
        

    </body>

    


    <script>

        console.log(localStorage.getItem("utente"));

    </script>

   
      
</html>