<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Artigianato Online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <link href="../public/css/styleHomeC.css" rel="stylesheet">

    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li class="search-container">
                        <button class="search-toggle">Ricerca</button>
                        <input type="text" class="search-input" placeholder="Cerca...">
                    </li>
                      
                    <li class="right">
                        <a href="#carrello" id="carrello">
                            <img src="../public/images/carrello.png" alt="Carrello" width="30" height="30">
                        </a>
                        <a href="#utente" id="utente">
                            <img src="../public/images/utente.png" alt="Utente" width="30" height="30" onclick="window.location.href = '/views/account.html'">
                        </a>
                    </li>
                </ul>
            </nav>
        </header>  

        <main>
        <section id="catalogo" class="grid-section"> <!-- Foto e data-desciption da sistemare -->
        <h2>Catalogo</h2>
        <!-- Prima riga di card -->
        <div class="row">
            <div class="card" >
                <img src="../public/images/Prodotto.jpg" alt="Prodotto 1">
                <h3>Prodotto 1</h3>
                <p>Descrizione Prodotto </p>
                <button class="add-to-cart">Aggiungi al carrello</button>
            </div>
    
            <div class="card" >
                <img src="../public/images/Prodotto.jpg" alt="Prodotto 2">
                <h3>Prodotto 2</h3>
                <p>Descrizione Prodotto </p>
                <button class="add-to-cart">Aggiungi al carrello</button>
            </div>
            <div class="card" >
                <img src="../public/images/Prodotto.jpg" alt="Prodotto 3">
                <h3>Prodotto 3</h3>
                <p>Descrizione Prodotto </p>
                <button class="add-to-cart">Aggiungi al carrello</button>
            </div>
        </div>
            <!-- Seconda riga di card -->
            <div class="row">
                <div class="card" >
                    <img src="../public/images/Prodotto.jpg" alt="Prodotto 4">
                    <h3>Prodotto 4</h3>
                    <p>Descrizione Prodotto </p>
                    <button class="add-to-cart">Aggiungi al carrello</button>
                </div>
                <div class="card" >
                    <img src="../public/images/Prodotto.jpg" alt="Prodotto 5">
                    <h3>Prodotto 5</h3>
                    <p>Descrizione Prodotto </p>
                    <button class="add-to-cart">Aggiungi al carrello</button>
                </div>
                <div class="card" >
                    <img src="../public/images/Prodotto.jpg" alt="Prodotto 6">
                    <h3>Prodotto 6</h3>
                    <p>Descrizione Prodotto </p>
                    <button class="add-to-cart">Aggiungi al carrello</button>
                </div>
            </div>
        </section>    
        </main>
            <!-- Aggiungi altri prodotti qui -->
        

    </body>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const toggle = document.querySelector(".search-toggle");
          const container = document.querySelector(".search-container");
      
          toggle.addEventListener("click", () => {
            container.classList.toggle("active");
          });
        });
    </script>

   
      
</html>