<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Artigianato Online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <link href="../public/css/styleLogin.css" rel="stylesheet">
        <script src="../public/js/loginUtente.js"></script>

    </head>

    <body>

        <header>
            <nav>
                <h1>Accedi</h1>
            </nav>
        </header>  
        <br><br>

       
        <main id="parteLogin">
            <form id="loginForm">
                <label for="username">Username/Nome Azienda:</label>
                <input type="text" id="username" name="username" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>

                <button class="bottone" type="submit" onclick="loginUtente(event)">Accedi</button> <br><br>
                <button class="indietro" onclick="window.location.href = '/index'" id="indietro">Indietro</button>
            </form>
        </main>
         

        
      
    </body>