<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordini</title>
    <link href="../public/css/ordini.css" rel="stylesheet">

    <script src="../public/js/ordini.js"></script>
    
</head>
<body>
    <header>
        <nav>
            <h2>Ordini</h2>
        </nav>
    </header>
    <main>
        <section id="ordini-info">
            <h3>Dettagli Ordini</h3>
            <table id="ordiniTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cognome</th>
                        <th>Nome</th>
                        <th>Indirizzo</th>
                        <th>Provincia</th>
                        <th>Quantità</th>
                        <th>Totale</th>
                        <th>Stato</th>
                    </tr>
                </thead>
                <tbody id="ordiniBody">
                    <tr>
                        <td>56</td>
                        <td>Rossi</td>
                        <td>Mario</td>
                        <td>Via Roma 10</td>
                        <td>Varese</td>
                        <td>32</td>
                        <td>€ 120.50</td>
                        <td><button>Spedito</button></td>
                    </tr>
                    <tr>
                        <td>56</td>
                        <td>Rossi</td>
                        <td>Paolo</td>
                        <td>Via Roma 10</td>
                        <td>Varese</td>
                        <td>32</td>
                        <td>€ 120.50</td>
                        <td><button>Spedito</button></td>
                    </tr>
                    <tr>
                        <td>56</td>
                        <td>Rossi</td>
                        <td>Lucilla</td>
                        <td>Via Roma 10</td>
                        <td>Varese</td>
                        <td>32</td>
                        <td>€ 120.50</td>
                        <td><button>Spedito</button></td>
                    </tr>
                </tbody>
        </section>
        
    </main>
</body>
</html>