<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prodotto</title>
    <link href="../public/css/pagamento.css" rel="stylesheet">

    <script type="module" src="../public/js/pagamento.js"></script>
</head>
<body>
    <header>
        <nav>
            <h2>Pagamento dell'ordine</h2>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="ordine-info">
                <p><strong>Totale da pagare:</strong> €<span id="costoTotale">99.90</span></p>
            </div>
            
            <form id="formPagamento">
      <h2>Dettagli di pagamento</h2>

      <label>Nome</label>
      <input type="text" id="nome" required>

      <label>Cognome</label>
      <input type="text" id="cognome" required>

      <label>Indirizzo</label>
      <input type="text" id="indirizzo" required>
        <br>

      <div class="flex-row">
        <div>
          <label>Città</label>
          <input type="text" id="citta" required>
        </div>
        <div>
          <label>Provincia</label>
          <input type="text" id="provincia">
        </div>
      </div>
      <label>CAP</label>
      <input type="number" id="CAP" required maxlength="5">
      <br>
      <button class="paga" type="submit">Paga ora</button>
    </form>
    
    <div class="pulsanteIndietro">
      <button  onclick="window.location.replace('../../views/carrello.html')">Indietro</button>
  </div>
 
    </main>

</body>
</html>