<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prodotto</title>
    <link href="../public/css/prodotto.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <h2>Prodotto</h2>
        </nav>
    </header>
    <main>
        <section id="prodotto-info">
            <h3>Dettagli Prodotto</h3>
            <div class="prodotto-card">
                <img src="../public/images/Prodotto.jpg" alt="Prodotto 1">
                <h3 class="nomeP">Nome Prodotto</h4>
                <p>Descrizione del prodotto. </p>
                <p style="text-align: right;"><strong>Prezzo:</strong> €XX.XX</p>
                <button class="modifica" id="modifica">Modifica</button>
            </div>
        </section>
        <br>
        <div id="pulsanteIndietro">
            <button class="indietro" onclick="window.location.href = '../index.html'">Indietro</button>
        </div>
</body>
</html>