<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styleRegistraA.css">

    <script src="../public/js/registrazioneUtente.js"></script>

    <title>Registrazione Artigiano</title>

</head>
<body>
    <header>
        <nav>
            <h1>Registrazione Artigiano</h1>
        </nav>
    </header>  
    <br><br>

    <form id="registrationForm">
        <label for="nome">Nome Azienda:</label>
        <input type="text" id="nomeAzienda" name="nomeAzienda" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="domandaSicurezza">Domanda di Sicurezza:</label> <br><br>

        <!-- Menu a tendina per domanda di sicurezza -->
        <select name="domanda" id="domandaSicurezza" required>

            <option value="nomeMadre">Qual è il nome di tua madre?</option>
            <option value="nomeAnimale">Come si chiamava il tuo primo animale domestico?</option>
            <option value="cittàNascita">In che città sei nato?</option>
            <option value="colorePreferito">Qual è il tuo colore preferito?</option>

        </select> <br><br>
        <input type="text" id="rispostaSicurezza" name="domandaSicurezza" required><br><br>


       
        <button onclick="registraUtente('artigiano')" type="submit">Registrati</button><br><br>
        <button onclick="window.location.href = '/index'" id="indietro">Indietro</button>
    </form>
    
</html>