<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segnalazioni</title>
    <link href="../public/css/segnalazioni.css" rel="stylesheet">

    <script type="module" src="../public/js/segnalazioni.js"></script>
</head>
<body>
    <header>
        <nav>
            <h2>Segnalazioni</h2>
        </nav>
    </header>
    <main>
        <section id="segnalazioni-info">
            <h3>Dettagli segnalazione</h3>
            <div class="prodotto-card">
                
                <textarea id="segnalazioneText"></textarea>

                <button class="modifica" id="inviaSegnalazione">Invia Segnalazione</button>
            </div>
        </section>
        <br>
        <div id="pulsanteIndietro">
            <button class="indietro" onclick="vaiIndietro()">Indietro</button>
        </div>
</body>
</html>