body{
    background-color:white;

}

header{
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header nav {
    background-color: white;
    color: #4a7c59;
    padding: 5px;
    text-align: center;
}

h2{
    text-align: center;
    color:#4a7c59;
}

main {
    max-width: 800px;
    margin: 2rem auto;           /* centro orizzontale */
    padding: 2rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 8px;
    text-align: left;            /* <-- fondamentale per allineare il testo a sinistra */
}

#account-info p {
  margin-bottom: 1rem;  /* Spazio verticale tra le righe */
  line-height: 1.5;     /* Migliora la leggibilità */
}

.metodo-pagamento {
  margin-left: 1.5rem; /* oppure 20px */
}


button {
    text-align: center;
    background-color: white;
    color: #4a7c59;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease;
}

.bottone {
    background-color: #4a7c59;
    color: white;
    border: none;
    padding: 0.8rem;
    
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;
    margin-top: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.bottone:hover {
    background-color: #3a6b49;
}


.bottone:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*CSS Responsive*/
@media (max-width: 600px) {
    main {
        padding: 1rem;
    }
    
    button, .bottone {
        width: 100%;
        padding: 0.8rem;
        font-size: 14px;
        margin-bottom: 0.5rem;
    }
    
    
    header nav {
        padding: 10px;
    }
}
