body{
    background-color: white;
}

header {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
header nav {
    background-color: white;
    color: #4a7c59;
    padding: 10px;

}


#titolo{
    text-align: center;
    color:#4a7c59;
}

.titolo:hover{
    color: #D97B54;
}

div{
    text-align: center;
    margin: 20px auto;
}

button{
    text-align: center;
    background-color: white;
    color: #4a7c59;
    border:rgba(0,0,0,0.1) solid 1px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
